.btnLink {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 15px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #F6F6F6;
  color: #1B1B1B;
  transition: background-color .4s cubic-bezier(.4, 0, .2, 1), color .4s cubic-bezier(.4, 0, .2, 1), box-shadow .4s cubic-bezier(.4, 0, .2, 1);
}
.moreInfo {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-top: 1px solid #F6F6F6;
  border-bottom: 1px solid #F6F6F6;
  padding: 20px 0;
  margin-bottom: 20px;
}
.movieDetails {
  position: relative;
  padding: 0 16px;
}
.movieDetailsSection {
  margin-bottom: 30px;
}
.movieDetailsThumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.movieDetailsImg {
  margin-bottom: 20px;
}

.movieDetailsTitle {
  font-size: 30px;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 10px;
}

.movieDetailsTagline {
  font-size: 20px;
  line-height: 1.2;

  margin-bottom: 5px;
}
.movieDetailsScore {
  display: flex;
  align-items: center;
  gap: 10px;
}
.movieDetailsText {
  font-size: 17px;
  line-height: 1.2;

  margin-bottom: 5px;
}
.spanAccent {
  font-weight: 700;
}

.iconSpilled {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url('../../assets/img/spilled.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.iconUpright {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url('../../assets/img/upright.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.movieDetailsTitleFilm {
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.movieDetailsGenresList {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  list-style: none;
}
.moreInfo {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-top: 1px solid #F6F6F6;
  border-bottom: 1px solid #F6F6F6;
  padding: 20px 0;
  margin-bottom: 20px;
}